body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: white;
    color: black;
}

header, footer {
    background-color: pink;
}

.site-title {
    color: purple;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobbies {
    list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: yellow;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    color: red;
}

nav a:hover {
    background-color: green;
    color: white;
}
